@use '../mixins.scss' as *;

.teacherpage{
    @include grid(1fr, 250px 1fr, start, start);
    min-height: 100vh;
    main{
        grid-column: 2;
        background-color: $main;
        @include flex(center,center,row,0);
        height: 100%;
        .container{
            background-color: white;
            min-width: 90%;
            min-height: 90%;
            @include grid(auto 1fr, 1fr, start, start);
            .search{
                width: 100%;
                height: 50px;
                background-color: $white;
                @include flex(center,start,row,15px);
                padding-left: 15px;
                border-bottom: 1px solid $black;
                button{
                    min-width: 80px;
                    height: 60%;
                    background-color: $button;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                }
                input{
                    height: 70%;
                    min-width: 30%;
                    border: none;
                    outline: 1px solid $black;
                    border-radius: 10px;
                    padding-left: 5px;
                    font-size: 1rem;
                }
            }
            .results{
                grid-row: 2;
                width: 100%;
                height: 100%;   
            }

        }
    }
}   

@media only screen and (max-width:1000px){
    .teacherpage{
        grid-template-columns: 1fr;
        main{
            height: 150vh;
            grid-column: 1;
        }
    }
}