
.testworkPage{
      grid-area: main;
      display: grid;
      grid-template-columns: 20% 60% 20%;
}
.testwork{
      grid-column: 2;
      display: grid;
      height: auto;
      grid-template-rows: 150px auto 100px auto 150px;
}
.testwork h1{
      display: flex;justify-content: center;align-items: center;
      grid-row: 1;
      height: 100%;
      font-size: 3rem;
      font-weight: 100;
      font-family: sans-serif;
}
.testwork .Exams:nth-of-type(1){
      min-height: 200px;
}
.testwork .Exams{
      border: 1px solid gray;
      background-color: white;
      grid-row: 2;
      min-height: 400px;
      height: auto;
      width: auto;
}
.testwork .Exams:nth-of-type(2){
      grid-row: 4;
}
.testwork .Heading{
      background-color: var(--light-blue);
      height: 60px;
      display: flex;align-items: center;
      color: white;
      font-family: sans-serif;
      gap: 10px;
      font-size: 1.5rem;
}
.testwork .Heading span{
      width: auto;
      align-items: center;display: flex;justify-content: center;
      position: relative;
}
.testwork .Heading i{
      border-radius: 50%;
      border: 3px solid white;
      padding: 6px;
      display: flex;align-items: center;justify-content: center;
}
.testwork .empty{
      text-align: center;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--red);
      font-size: 1.2rem;
}
.testwork .completedExams, .testwork .currentExams{
      list-style: none;
}
.testwork .completedExams li{
      display: grid;
      grid-template-columns: 30% 20% 45% 5%;
      height: auto;
      align-items: center;
}
.testwork .completedExams span{
      display: flex;
      padding: 10px;
      border: 1px solid var(--secondary);
      height: 100%;
      align-items: center;
}


@media only screen and (max-width:1200px){
      .testworkPage{
            grid-template-columns: auto;
      }
      .testwork{
            grid-column: 1;
            width: 90%;
            margin: 0 auto;
      }
      .testwork .completedExams li {
            grid-template-columns: 30% 20% 40% 10%;
      }
}
