$main: #dfe8f3;
$button: #2563EB;
$buttonhover:#0c44bd;
$hover: #ececec;
$black: #0D3049;
$red: #d62828;
$orange: #f77f00;
$yellow: #fcbf49;
$white: #fafafa;
$mainMinHeight: 700px;
@mixin flex($align,$justify,$direction,$gap){
     display: flex;
     align-items: $align;
     justify-content: $justify;
     flex-direction: $direction;
     gap: $gap;
}
@mixin grid($rows, $columns, $align, $justify){
     display: grid;
     grid-template-rows: $rows;
     grid-template-columns: $columns;
     justify-content: $justify;
     align-items: $align;
}
@mixin size($height,$width,$bg-color,$color){
     height: $height;
     width: $width;
     background: $bg-color;
     color: $color;
}
@mixin font($font-size, $font-family, $font-weight){
     font-size: $font-size;
     font-family: $font-family;
     font-weight: $font-weight;
}
@mixin border($border, $radius){
     border: $border;
     border-radius: $radius;
}
