@use '../mixins.scss' as *;

.testrun{
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    @include grid(1fr, 1fr 200px, start, start);
    position: relative;
    background-color: $hover;
    
    main{
        min-height: 100vh;
        overflow-x: hidden;
        @include size(auto,auto,$hover,black);
        @include flex(start,center,row,0);
        grid-column: span 1;
        section{
            padding-top: 25px;
            width: 70%;
            h1{
                width: 90%;
                min-height: 50px;
                font-size: 2.2rem;
                margin-bottom: 25px;
            }
            .topic{
                font-size: 1.5rem;
                width: 90%;
                a{
                    color: $button;
                }
            }
            .container{
                @include size(auto,auto,white,black);
                h1{
                    padding-left: 40px;
                    margin-bottom: 0;
                    max-height: calc(100% * 0.3);
                    font-size: 2.2rem;
                    padding-right: 40px;
                    background-color: $button;
                    width: 100%;
                    color: white;
                    @include flex(center,space-between,row,0);
                }
            }
            .questionContainer{
                min-height: calc($mainMinHeight / 3);
                height: auto;
                width: 100%;
                padding: 40px;
                .question{
                    font-size: 1.5rem;
                    cursor: default;
                    margin-bottom: 40px;
                }
                .answer{
                    min-height: 80px;
                    font-size: 1.3rem;
                    @include flex(start,center,column,25px);
                    ul{
                        list-style: none;
                        @include flex(start,start,column,0);
                        li{
                            @include flex(center,start,row,5px);
                            input{
                                outline: none;
                            }
                        }
                    }
                    input{
                        height: 35px;
                        border: none;
                        border-radius: 5px;
                        font-size: 1.2rem;
                        width: auto;
                        max-width: 50%;
                        padding-left: 5px;
                        outline: 2px solid $button;
                    }
                    button{
                        @include size(40px,120px,$button,white);
                        border: none;
                        border-radius: 5px;
                        font-size: 1.2rem;
                    }
                    button:hover{
                        background-color: $buttonhover;
                        cursor: pointer;
                    }
                }

                .list{
                    padding: 0;
                    list-style: none;
                    li{
                        width: 100%;
                        border-bottom: 1px dashed black;
                        height: 35px;
                        @include grid(1fr, 40px 1fr  120px 20px , center, start);
                        font-size: 1.3rem ;
                        span{
                            a{
                                color: $button;
                            }
                            a:hover{
                                text-decoration: underline;
                            }
                        }
                        .isAnswered{
                            color: gray;
                            font-size: 1.2rem;
                        }
                        @media only screen and (max-width:400px){
                            .isAnswered{
                                display: none;
                            }
                            grid-template-columns: 40px 1fr 20px;
                        }
                        .point{
                            padding-right: 5px;
                            font-size: 1.3rem;
                            @include flex(center,flex-end,row,0);
                        }
                    }
                }

            }

            .arrows{
                height: auto;
                width: 90%;
                margin: 0 auto;
                min-height: 50px;
                margin-top: 80px;
                @include grid(1fr, 1fr 1fr,start,start);
                span:nth-of-type(2){
                    grid-column: 2;
                }
                span{
                    @include flex(center,start,column,0);
                    cursor: pointer;
                    text-align: center;
                    transition: all 0.2s ease-in-out;
                    i{
                        font-size: 2rem;
                        color: $button;
                    }
                    &:hover{
                        transform: scale(1.05);

                    }
                    font-size: 1.2rem;
                }
            }


            .TestList{
           
            }
        }
    }
}

@media only screen and (max-width:800px){
    main{
        section{
            width: 100%;
            @include flex(center,center,column,0);
            min-width: 100%;
            .container{
                max-width: 90%;
            }
            .arrows{
                max-width: 90%;
            }
        }
    }
}
@media only screen and (max-width:625px){
    .testrun{
        @include grid(auto auto, 1fr, start, start);
        main{
            grid-column: 1;
            grid-row: 2;
        }
    }
}
