*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.body{
  display: grid;
  grid-template-areas: "header"
                       "main"
                       "footer";
  grid-template-rows: 80px auto auto;
  color: black;
  background: var(--primary);
}
:root{
  --primary: #ececec;
  --secondary: rgba(224, 210, 210, 0.6);
  --secondary2: linear-gradient(
    90deg,
    rgba(224, 210, 210, 0.6),
    var(--light-green)
    );
  --light-green: #D1FFBD;
  --red: rgb(252, 129, 129);
  --yellow: rgba(252, 255, 172);
}
.main{
  grid-area: main;
  font-family: serif;
  display: grid;
  grid-template-columns: 7.5% 85% 7.5%;
}
.main section{
  grid-column: 2;
  height: 1100px;
}
.main .intro {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .intro-container {
  border-radius: 45px;
  width: 80%;
  display: grid;
  height: 500px;
  position: relative;
  flex-direction: column;
  grid-template-columns: 1fr 1fr  ;
  background: linear-gradient(
    90deg,
    var(--blue),
    var(--red)
  );
  overflow: hidden;
}
.main .intro-container .circle{
  background-color: var(--primary);
  position: absolute;
  width: 70%;
  border-radius: 50%;
  height: 800px;
  top: -100px;
  left: -210px;
}
.main .intro-container .intro-text{
  display: flex;flex-direction: column;
  height: 80%;
  justify-content: center;
  text-align: center;
  grid-column: 1;
  z-index: 2;
}
.main .intro-container .intro-text p{
  font-size: 1.4rem;
}
.main .intro-container .intro-text h1{
  font-size: 5.3rem;
  font-family: sans-serif;
  letter-spacing: -5px;
}
.main .intro-container  a {
  width: 300px;
  border-radius: 25px;
  border: var(--red) 2px solid;
  font-size: 1.2rem;
  height: 50px;
  position: relative;
  top: 50px;
  cursor: pointer;
  overflow: hidden;
  display: flex;justify-content: center;align-items: center;
  color: black;
  text-decoration: none;
  background-color: white;
  font-size: 1.7rem;
  align-self: center;
}
.main .intro-container a:hover i{
  transform: translateX(0);
  opacity: 1;
}
.main .intro-container a span{
  transition: all 0.3s ease;
}
.main .intro-container a:hover span{
  transform: translateX(15px);
}
.main .intro-container a i{
  transform: translateX(-50px);
  opacity: 0;
  transition: all 0.3s ease;
}
.main .intro-container .intro-design{
  display: flex;
  justify-content: flex-end;
}
.main .intro-container .intro-design img{
  width: 550px;
  position: relative;
  top: 50px;
  right: 50px;
}
/* ABOUT PAGE */





/* Responsive */
@media only screen and (max-width: 1350px){
  .main .intro .intro-container .intro-text{
    text-align: left;
  }
  .main .intro .intro-container .intro-text h1{
    font-size: 3.5rem;
  }
}

@media only screen and (max-width:1000px){
  .main{
    grid-template-columns: 1;
  }
  .main .intro{
    width: 100%; 
    height: 40vh;
  }
  .main .intro-container{
    width: 500px;
    height: 400px;
    display: flex;
    justify-content: center;
    background: transparent;
    grid-template-columns: 1fr;
  }
  .main .intro .intro-container .circle{
    display: none;
  }
  .main .intro .intro-container .intro-text{
    text-align: center;
  }
  .main .intro .intro-container .intro-text h1{
    font-size: 4rem;
  }
  .main .intro .intro-container .intro-text p {
    font-size: 1.1rem;
  }
  .main .intro .intro-container .intro-design {
    display: none;
  }
}

