*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.body{
  display: grid;
  grid-template-areas: "header"
                       "main"
                       "footer";
  grid-template-rows: 80px auto auto;
  color: black;
  background: var(--primary);
}
:root{
  --primary: #ececec;
  --secondary: rgba(224, 210, 210, 0.6);
  --secondary2: linear-gradient(
    90deg,
    rgba(224, 210, 210, 0.6),
    var(--light-green)
    );
  --light-green: #D1FFBD;
  --red: rgb(252, 129, 129);
  --yellow: rgba(252, 255, 172);
}
.main{
  grid-area: main;
  font-family: serif;
  display: grid;
  grid-template-columns: 7.5% 85% 7.5%;
}
.main section{
  grid-column: 2;
  height: 1100px;
}
.main .intro {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .intro-container {
  display: grid;
  grid-template-columns: 5% 55% 1fr;
  height: 500px;
  border-radius: 45px;
  width: 90%;
  margin: 0 auto;
  background: var(--secondary2);
  position: relative;
}
.main .intro-container .intro-text{
  display: flex;flex-direction: column;
  justify-content: center;
  grid-column: 2;
  align-items: center;
}
.main .intro-container .intro-text p{
  font-size: 1.2rem;
}
.main .intro-container .intro-text h1{
  font-size: 3.5rem;
  font-family: sans-serif;
}
.main .intro-container .intro-text a {
  width: 300px;
  border-radius: 25px;
  border: var(--red) 2px solid;
  font-size: 1.2rem;
  height: 50px;
  position: relative;
  top: 50px;
  cursor: pointer;
  overflow: hidden;
  display: flex;justify-content: center;align-items: center;
  color: black;
  text-decoration: none;
  background-color: white;
  font-size: 1.7rem;
}
.main .intro-container .intro-text a:hover{
  background-color: var(--red);
  color: white;
}
.main .intro-container .intro-design{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.main .intro-container .intro-design img {
  width: 85%;
  position: relative;
  right: 25px;
}
/* ABOUT PAGE */





/* Responsive */

@media only screen and (max-width:1000px){
  .main{
    grid-template-columns: 1;
  }
  .main .intro{
    width: 100%; 
    height: 40vh;
  }
  .main .intro .intro-container{
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
  }
  .main .intro .intro-container .intro-text h1{
    font-size: 2rem;
  }
  .main .intro .intro-container .intro-text p {
    font-size: 1rem;
  }
  .main .intro .intro-container .intro-design {
    display: none;
  }
}

