@use '../mixins.scss' as *;
.AuthPage{
 @include flex(center,center,row,0);
 @include size(100vh,100vw,$black,$white);
 .home{
     position: absolute;
     left: 0;
     top:0;
     padding: 20px;
     color: white;
     font-size: 3rem;
     cursor: pointer;
 }
}
@media only screen and (max-width:470px){
 .AuthPage{
    .home{
        display: none;
    }
    }
}   